/* all styles related to add new product page */
.addNewProduct-parent {
    display: flex;
    justify-content: center;
}

.form-wrapper-anp {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    height: auto;
}

.form-anp {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.input-group-anp {
    width: 200px;
    margin-top: 20px;
}

.input-anp {
    height: 40px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(8, 79, 42);
    outline: none;
}

.description-anp {
    height: 100px;
    resize: none;
}

/* all styles related to add new product page ended! */

/* responsive for mobile devices */
@media only screen and (max-width: 576px) {
    .form-wrapper-anp {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 25px;
    }

    .form-anp {
        grid-template-columns: repeat(1, 1fr);
    }

    .input-group-anp {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;

    }
}

/* responsive for medium devices */
@media only screen and (max-width: 820px) and (min-width: 577px) {
    .form-wrapper-anp {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 25px;
    }
    .input-group-anp {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }
}